.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  white-space: nowrap;
  padding-top: 25px;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  font-size: 24px;
  padding-bottom: 25px;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: url(../images/Vector.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 18px;
  padding-bottom: 30px;
  padding-left: 20px;
  margin-right: 20px;
  align-self: flex-end;
  border: none;
}

.card__like-button:hover {
  opacity: 50%;
}