.profile {
    display: flex;
    margin-top: 40px;
  }
  .profile__image {
    height: 120px;
    width: 120px;
    margin-right: 24px;
  }
  .profile__info {
    display: grid;
    width: 415px;
    align-content: center;

    grid-template-areas:
      "title button"
      "description description";
      grid-template-columns: minmax(auto,373px) auto;
  }
  .profile__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 415px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    margin: 0 0 7px;
    font-family: 'Inter', 'Arial', sans-serif;
    grid-area: title;
  }
  .profile__description {
    overflow: hidden;
    max-width: 415px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0;
    grid-area: description;
  }
  .profile__edit-button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-color: #fff;
    border-radius: 1px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-left: 18px;

    margin-top: 15px;
  }
  .profile__edit-image{

  }
  .profile__edit-button:hover{
    opacity: 60%;
  }
  .profile__add-button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    border-color: #fff;
    width: 150px;
    height: 50px;
    margin-top: 33px;
    margin-left: auto;
    padding: 0;
    border-radius: 2px;
    grid-area: button;
  }
  .profile__add-button:hover{
    opacity: 60%;
    border-radius: 2px;
  }
  @media screen and (mi-width: 622px){
    .profile__title{
      overflow: hidden;
    }
  }
    @media screen and (max-width: 622px){
    .profile {
      display: flex;
      overflow: hidden;
    }
    .profile__info {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .profile__description {
      width: 100%;
      overflow: hidden;
    }
    .profile__edit-button {
      margin: 0 0 0 15px;
    }
    .profile__add-button{
      width: 50px;
    }
   }

   @media screen and (max-width: 590px){
    .profile {
      /* display: flex;
      flex-direction: column; */
      overflow: hidden;
    }
    .profile__info {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    .profile__title {
      /* text-align: center; */
      /* font-size: 22px; */
      flex-wrap: wrap;
    }
    .profile__description {
      /* text-align: center;
      overflow: hidden; */
    }
    /* .profile__add-button{
      width: 282px;
      margin: 0;
      max-width: 100%;

    } */
  }
  @media screen and (max-width: 620px){

    .profile {
      /* display: flex;
      overflow: hidden; */
      align-items: center;
      flex-direction: column;
    }
    .profile__image{
      margin: 0;
    }
     .profile__info {
      margin-top: 30px;
      display: flex;
      /* flex-wrap: wrap;
      justify-content: center;
      width: 100%; */
    }
    .profile__title {
      overflow: hidden;
      max-width: 415px;
      text-align: center;
      max-width: 222px;
      font-size: 22px;
      margin-right: 10px;
    }
    .profile__description {
      overflow: hidden;
    max-width: 415px;
      text-align: center;
      margin-bottom: 36px;
      /* overflow: hidden; */
    }
    .profile__edit-button {
      margin: 0;
    }
    .profile__add-button {
      width: 282px;
      margin: 0;
      max-width: 100%;
    }
   }